@import 'styles/buttons.css';
@import 'styles/colors.css';

window {
    font-family: "SF Pro", "CaskaydiaMono Nerd Font Propo";
    font-size: 1.2em;
    color:  @on_surface; /* text */
    background-color: alpha(@surface, 0.85);
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.15,0,0.1,1);
    box-shadow: 0 0 2px 1px transparent;
    border-radius: 20px;
    margin: 3px;
}

button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 20%;
}

button:hover {
    background-size: 40%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @primary;
    color: transparent;
}
