* {
    background:         #1f1f28FF;
    background-alt:     #2a2a36FF;
    foreground:         #ffffffFF;
    selected:           #7e9cd8FF;
    active:             #76946aFF;
    urgent:             #c34043FF;
}
