* {
    background:         #DAE6E8FF;
    background-alt:     #d1e0e2FF;
    foreground:         #000000FF;
    selected:           #45D395FF;
    active:             #00B8B3FF;
    urgent:             #E63E5DFF;
}
