* {
    background:         #1a1b26FF;
    background-alt:     #242635FF;
    foreground:         #ffffffFF;
    selected:           #9ece6aFF;
    active:             #7aa2f7FF;
    urgent:             #f7768eFF;
}
