@import "colors/colors.css";

* {
  border: none;
  border-radius: 0px;
  font-family:  "Rubik","JetBrainsMono Nerd Font Propo";
  font-size: 15px; 
  min-height: 0;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

.modules-center {
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    padding: 6px 12px;
    background: @background;
}

tooltip {
  background: @surface;
  border: 1px solid @primary;
  border-radius: 5px;
}

tooltip label {
  color: @on_surface;
  padding: 6px;
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0 10px 0 10px;
  box-shadow: none;
  border: none;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background: @surface_container;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(135deg, @color3 0%, @color5 50%, @color2 100%);
  color: @background;
  min-width: 40px;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @secondary;
  color: @foreground;
}

#workspaces button.urgent {
  background-color: @error;
  color: @background
}
#battery,
#custom-wlogout,
#pulseaudio,
#language,
#backlight,
#custom-pacman,
#network,
#clock,
#custom-weather,
#custom-media,
#window,
#custom-launcher,
#custom-notification,
#submap,
#power-profiles-daemon,
#tray,
#custom-home-folder {
  background-color: @surface;
  padding: 0 15px 0 15px;
  margin: 0 0 0 7px;
  border-radius: 50px;
  color: @primary;
}

#custom-launcher {
  margin: 0 0 0 4px;
}
