@define-color background #ffffff;
@define-color error #000000;
@define-color error_container #333333;
@define-color inverse_on_surface #ffffff;
@define-color inverse_primary #000000;
@define-color inverse_surface #000000;
@define-color on_background #000000;
@define-color on_error #ffffff;
@define-color on_error_container #ffffff;
@define-color on_primary #ffffff;
@define-color on_primary_container #000000;
@define-color on_primary_fixed #ffffff;
@define-color on_primary_fixed_variant #dddddd;
@define-color on_secondary #ffffff;
@define-color on_secondary_container #000000;
@define-color on_secondary_fixed #ffffff;
@define-color on_secondary_fixed_variant #cccccc;
@define-color on_surface #000000;
@define-color on_surface_variant #333333;
@define-color on_tertiary #ffffff;
@define-color on_tertiary_container #000000;
@define-color on_tertiary_fixed #ffffff;
@define-color on_tertiary_fixed_variant #bbbbbb;
@define-color outline #555555;
@define-color outline_variant #999999;
@define-color primary #000000;
@define-color primary_container #aaaaaa;
@define-color primary_fixed #000000;
@define-color primary_fixed_dim #333333;
@define-color scrim #000000;
@define-color secondary #333333;
@define-color secondary_container #bbbbbb;
@define-color secondary_fixed #333333;
@define-color secondary_fixed_dim #666666;
@define-color shadow #000000;
@define-color source_color #000000;
@define-color surface #ffffff;
@define-color surface_bright #ffffff;
@define-color surface_container #f0f0f0;
@define-color surface_container_high #e6e6e6;
@define-color surface_container_highest #dddddd;
@define-color surface_container_low #f8f8f8;
@define-color surface_container_lowest #ffffff;
@define-color surface_dim #eeeeee;
@define-color surface_tint #000000;
@define-color surface_variant #cccccc;
@define-color tertiary #666666;
@define-color tertiary_container #cccccc;
@define-color tertiary_fixed #666666;
@define-color tertiary_fixed_dim #888888;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
