@define-color background #282828;
@define-color error #fb4934;
@define-color error_container #5e1f1b;
@define-color inverse_on_surface #282828;
@define-color inverse_primary #83a598;
@define-color inverse_surface #ebdbb2;
@define-color on_background #ebdbb2;
@define-color on_error #282828;
@define-color on_error_container #f9c0bb;
@define-color on_primary #282828;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #282828;
@define-color on_primary_fixed_variant #353535;
@define-color on_secondary #282828;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #282828;
@define-color on_secondary_fixed_variant #3c3c3c;
@define-color on_surface #ebdbb2;
@define-color on_surface_variant #bdae93;
@define-color on_tertiary #282828;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #282828;
@define-color on_tertiary_fixed_variant #353535;
@define-color outline #928374;
@define-color outline_variant #504945;
@define-color primary #83a598;
@define-color primary_container #314d56;
@define-color primary_fixed #cce5e8;
@define-color primary_fixed_dim #83a598;
@define-color scrim #000000;
@define-color secondary #8ec07c;
@define-color secondary_container #36543a;
@define-color secondary_fixed #d8e9d2;
@define-color secondary_fixed_dim #8ec07c;
@define-color shadow #000000;
@define-color source_color #83a598;
@define-color surface #282828;
@define-color surface_bright #3c3836;
@define-color surface_container #32302f;
@define-color surface_container_high #3c3836;
@define-color surface_container_highest #504945;
@define-color surface_container_low #242221;
@define-color surface_container_lowest #1d2021;
@define-color surface_dim #282828;
@define-color surface_tint #83a598;
@define-color surface_variant #504945;
@define-color tertiary #d3869b;
@define-color tertiary_container #4d3740;
@define-color tertiary_fixed #f0d6e0;
@define-color tertiary_fixed_dim #d3869b;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
