@define-color background #192330;
@define-color error #c94f6d;
@define-color error_container #4b2630;
@define-color inverse_on_surface #192330;
@define-color inverse_primary #719cd6;
@define-color inverse_surface #cdcecf;
@define-color on_background #cdcecf;
@define-color on_error #192330;
@define-color on_error_container #f0b8c2;
@define-color on_primary #192330;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #192330;
@define-color on_primary_fixed_variant #2b3544;
@define-color on_secondary #192330;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #192330;
@define-color on_secondary_fixed_variant #313d4d;
@define-color on_surface #cdcecf;
@define-color on_surface_variant #a8b0b9;
@define-color on_tertiary #192330;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #192330;
@define-color on_tertiary_fixed_variant #2b3544;
@define-color outline #7f8d9f;
@define-color outline_variant #3b4859;
@define-color primary #719cd6;
@define-color primary_container #2d4059;
@define-color primary_fixed #d0e0f8;
@define-color primary_fixed_dim #719cd6;
@define-color scrim #000000;
@define-color secondary #9d79d6;
@define-color secondary_container #3c3152;
@define-color secondary_fixed #e0d4f8;
@define-color secondary_fixed_dim #9d79d6;
@define-color shadow #000000;
@define-color source_color #719cd6;
@define-color surface #192330;
@define-color surface_bright #2b3b51;
@define-color surface_container #212b3a;
@define-color surface_container_high #283447;
@define-color surface_container_highest #313d4f;
@define-color surface_container_low #151e2a;
@define-color surface_container_lowest #0f141c;
@define-color surface_dim #192330;
@define-color surface_tint #719cd6;
@define-color surface_variant #3b4859;
@define-color tertiary #63cdcf;
@define-color tertiary_container #28494a;
@define-color tertiary_fixed #c0e8e9;
@define-color tertiary_fixed_dim #63cdcf;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
