@define-color background #242933;
@define-color error #bf616a;
@define-color error_container #4b282c;
@define-color inverse_on_surface #242933;
@define-color inverse_primary #88c0d0;
@define-color inverse_surface #d8dee9;
@define-color on_background #d8dee9;
@define-color on_error #242933;
@define-color on_error_container #f0b8be;
@define-color on_primary #242933;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #242933;
@define-color on_primary_fixed_variant #323944;
@define-color on_secondary #242933;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #242933;
@define-color on_secondary_fixed_variant #39404b;
@define-color on_surface #d8dee9;
@define-color on_surface_variant #b0b8c2;
@define-color on_tertiary #242933;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #242933;
@define-color on_tertiary_fixed_variant #323944;
@define-color outline #7f8a94;
@define-color outline_variant #3b4252;
@define-color primary #88c0d0;
@define-color primary_container #314d56;
@define-color primary_fixed #d0e8f0;
@define-color primary_fixed_dim #88c0d0;
@define-color scrim #000000;
@define-color secondary #81a1c1;
@define-color secondary_container #2f4152;
@define-color secondary_fixed #cce0f0;
@define-color secondary_fixed_dim #81a1c1;
@define-color shadow #000000;
@define-color source_color #88c0d0;
@define-color surface #2e3440;
@define-color surface_bright #3b4252;
@define-color surface_container #343a47;
@define-color surface_container_high #3d4452;
@define-color surface_container_highest #464d5a;
@define-color surface_container_low #292f3b;
@define-color surface_container_lowest #1e232c;
@define-color surface_dim #242933;
@define-color surface_tint #88c0d0;
@define-color surface_variant #3b4252;
@define-color tertiary #b48ead;
@define-color tertiary_container #433a40;
@define-color tertiary_fixed #e8d8e2;
@define-color tertiary_fixed_dim #b48ead;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
