@define-color background #1a1b26;
@define-color error #f7768e;
@define-color error_container #552c34;
@define-color inverse_on_surface #1a1b26;
@define-color inverse_primary #7aa2f7;
@define-color inverse_surface #c0caf5;
@define-color on_background #c0caf5;
@define-color on_error #1a1b26;
@define-color on_error_container #f8c0cf;
@define-color on_primary #1a1b26;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #1a1b26;
@define-color on_primary_fixed_variant #282e42;
@define-color on_secondary #1a1b26;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #1a1b26;
@define-color on_secondary_fixed_variant #2f3549;
@define-color on_surface #c0caf5;
@define-color on_surface_variant #9aa5ce;
@define-color on_tertiary #1a1b26;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #1a1b26;
@define-color on_tertiary_fixed_variant #282e42;
@define-color outline #828bb8;
@define-color outline_variant #414868;
@define-color primary #7aa2f7;
@define-color primary_container #2d4888;
@define-color primary_fixed #d0e8ff;
@define-color primary_fixed_dim #7aa2f7;
@define-color scrim #000000;
@define-color secondary #bb9af7;
@define-color secondary_container #443b66;
@define-color secondary_fixed #e8d8ff;
@define-color secondary_fixed_dim #bb9af7;
@define-color shadow #000000;
@define-color source_color #7aa2f7;
@define-color surface #1a1b26;
@define-color surface_bright #292e42;
@define-color surface_container #22232e;
@define-color surface_container_high #272c40;
@define-color surface_container_highest #303549;
@define-color surface_container_low #15161e;
@define-color surface_container_lowest #10111a;
@define-color surface_dim #1a1b26;
@define-color surface_tint #7aa2f7;
@define-color surface_variant #414868;
@define-color tertiary #7dcfff;
@define-color tertiary_container #2d4f60;
@define-color tertiary_fixed #d0f0ff;
@define-color tertiary_fixed_dim #7dcfff;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
