@define-color background #16161d;
@define-color error #e46876;
@define-color error_container #552c32;
@define-color inverse_on_surface #16161d;
@define-color inverse_primary #7fb4ca;
@define-color inverse_surface #dcd7ba;
@define-color on_background #dcd7ba;
@define-color on_error #16161d;
@define-color on_error_container #f4c0c6;
@define-color on_primary #16161d;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #16161d;
@define-color on_primary_fixed_variant #25252c;
@define-color on_secondary #16161d;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #16161d;
@define-color on_secondary_fixed_variant #2c2c34;
@define-color on_surface #dcd7ba;
@define-color on_surface_variant #b7b295;
@define-color on_tertiary #16161d;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #16161d;
@define-color on_tertiary_fixed_variant #25252c;
@define-color outline #8c8872;
@define-color outline_variant #43404b;
@define-color primary #7fb4ca;
@define-color primary_container #2f4b58;
@define-color primary_fixed #cfe8f3;
@define-color primary_fixed_dim #7fb4ca;
@define-color scrim #000000;
@define-color secondary #938aa9;
@define-color secondary_container #393646;
@define-color secondary_fixed #e0dbe8;
@define-color secondary_fixed_dim #938aa9;
@define-color shadow #000000;
@define-color source_color #7fb4ca;
@define-color surface #1f1f28;
@define-color surface_bright #363640;
@define-color surface_container #262630;
@define-color surface_container_high #2e2e38;
@define-color surface_container_highest #373742;
@define-color surface_container_low #1a1a22;
@define-color surface_container_lowest #121218;
@define-color surface_dim #16161d;
@define-color surface_tint #7fb4ca;
@define-color surface_variant #43404b;
@define-color tertiary #7aa89f;
@define-color tertiary_container #2f4b45;
@define-color tertiary_fixed #cfe8e0;
@define-color tertiary_fixed_dim #7aa89f;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
