@define-color background #121212;
@define-color error #c2b5b8;
@define-color error_container #4a3a3f;
@define-color inverse_on_surface #121212;
@define-color inverse_primary #9ca8b0;
@define-color inverse_surface #e6e6e6;
@define-color on_background #e6e6e6;
@define-color on_error #121212;
@define-color on_error_container #f0e0e2;
@define-color on_primary #121212;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #121212;
@define-color on_primary_fixed_variant #252525;
@define-color on_secondary #121212;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #121212;
@define-color on_secondary_fixed_variant #2c2c2c;
@define-color on_surface #e6e6e6;
@define-color on_surface_variant #b8b8b8;
@define-color on_tertiary #121212;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #121212;
@define-color on_tertiary_fixed_variant #252525;
@define-color outline #888c94;
@define-color outline_variant #3a3a3a;
@define-color primary #9ca8b0;
@define-color primary_container #3a4248;
@define-color primary_fixed #d8e0e5;
@define-color primary_fixed_dim #9ca8b0;
@define-color scrim #000000;
@define-color secondary #b5c2ca;
@define-color secondary_container #40484d;
@define-color secondary_fixed #e5f0f5;
@define-color secondary_fixed_dim #b5c2ca;
@define-color shadow #000000;
@define-color source_color #9ca8b0;
@define-color surface #121212;
@define-color surface_bright #2a2a2a;
@define-color surface_container #1e1e1e;
@define-color surface_container_high #252525;
@define-color surface_container_highest #2f2f2f;
@define-color surface_container_low #0f0f0f;
@define-color surface_container_lowest #0a0a0a;
@define-color surface_dim #121212;
@define-color surface_tint #9ca8b0;
@define-color surface_variant #3a3a3a;
@define-color tertiary #b8c2b5;
@define-color tertiary_container #404841;
@define-color tertiary_fixed #e5f0e8;
@define-color tertiary_fixed_dim #b8c2b5;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
