layout {
    background-color "transparent"

    focus-ring {
        active-color   "#82d3e0"
        inactive-color "#899294"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#82d3e0"
        inactive-color "#899294"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#82d3e0"
        inactive-color "#899294"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#82d3e080"
    }
}

/-recent-windows {
    highlight {
        active-color   "#004f58"
        urgent-color   "#ffb4ab"
    }
}