@define-color background #11111b;
@define-color error #eb6f92;
@define-color error_container #552c35;
@define-color inverse_on_surface #191724;
@define-color inverse_primary #c4a7e7;
@define-color inverse_surface #e0def4;
@define-color on_background #e0def4;
@define-color on_error #191724;
@define-color on_error_container #f8c0d0;
@define-color on_primary #191724;
@define-color on_primary_container #ffffff;
@define-color on_primary_fixed #191724;
@define-color on_primary_fixed_variant #26233a;
@define-color on_secondary #191724;
@define-color on_secondary_container #ffffff;
@define-color on_secondary_fixed #191724;
@define-color on_secondary_fixed_variant #2c2938;
@define-color on_surface #e0def4;
@define-color on_surface_variant #b8b6cb;
@define-color on_tertiary #191724;
@define-color on_tertiary_container #ffffff;
@define-color on_tertiary_fixed #191724;
@define-color on_tertiary_fixed_variant #26233a;
@define-color outline #908caa;
@define-color outline_variant #403d52;
@define-color primary #c4a7e7;
@define-color primary_container #443b58;
@define-color primary_fixed #e8e0ff;
@define-color primary_fixed_dim #c4a7e7;
@define-color scrim #000000;
@define-color secondary #ebbcba;
@define-color secondary_container #4d3b3f;
@define-color secondary_fixed #f8e0e5;
@define-color secondary_fixed_dim #ebbcba;
@define-color shadow #000000;
@define-color source_color #c4a7e7;
@define-color surface #191724;
@define-color surface_bright #26233a;
@define-color surface_container #1f1c2e;
@define-color surface_container_high #242135;
@define-color surface_container_highest #2a273f;
@define-color surface_container_low #15121f;
@define-color surface_container_lowest #0f0d17;
@define-color surface_dim #11111b;
@define-color surface_tint #c4a7e7;
@define-color surface_variant #403d52;
@define-color tertiary #9ccfd8;
@define-color tertiary_container #384d50;
@define-color tertiary_fixed #d8f0f5;
@define-color tertiary_fixed_dim #9ccfd8;

/* Compatibility mappings */
@define-color foreground @on_background;
@define-color color1 @surface_container_low;
@define-color color2 @error;
@define-color color3 @primary;
@define-color color5 @secondary;
@define-color color6 @tertiary;
